html{
    height: 100%;
    width: 100%;
}
body{
    background-color: burlywood;
    margin: 20px;
    height: 100%;
    width: 100%;
}
p{
    text-align: center;
    color: cornflowerblue;
}
.hello{
        color: white;
        font-size: large;
        margin: auto;

}
.newhello{
    color: red;
        font-size: 400%;
        margin: auto;
}
.gr{
    background-image: url("../images/book.jpg");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;


}